<html lang="en"></html>
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="games">
    <div class="screenshots">
      <h1>Our Games</h1>
      <div class="ss-img"> 
        <div class="img one" data-aos="flip-up"></div>
        <div class="img two" data-aos="flip-up"></div>
        <div class="img three" data-aos="flip-up"></div>
        <div class="img four" data-aos="flip-up"></div>
        <div class="img five" data-aos="flip-up"></div>
        <div class="img six" data-aos="flip-up"></div>
        <div class="img seven" data-aos="flip-up"></div>
      </div>
    </div>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>